.image{
    height:650px;
        background: url('../img/baseball.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
 }
 .para{
margin-top: 200px;
text-align: center;
color:white;
 }
